.gradle/
**/build/
build/
!src/**/build/
output.json
.kotlin
out/
*.iml
.idea/

.DS_Store
*.log
*.hprof

.vscode/
*.swp
*.swo
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
.kotlin/
modules.xml
workspace.xml
.kmp/
*.kexe
*.klib

local.properties
gradle-daemon-jvm.properties